services:
  loki:
    user: {{ loki_user }}:{{ loki_user }}
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
      - /var/loki:/data
    command: -config.file=/etc/loki/loki-config.yaml
    restart: always
